<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- student模块所有bean的声明 -->

    <!-- using parameter to init -->
    <bean id = "myStudent" class = "com.Sample.c06.Student" autowire="byType">
        <property name="name" value="李四"/>
        <property name="age" value="30"/>
        <!-- 引用类型 -->
        <!-- <property name="school" ref="mySchool"/> -->
    </bean>

</beans>